---
import { Profile } from "../types/Profile";
import Icon from "../components/ui/icon.astro";

interface Props {
  name: string;
  headline: string;
  profiles: Profile[];
  image: string;
}

const { name, headline, profiles, image } = Astro.props;
---

<header class="print:flex print:flex-row print:items-center text-center">
  <img
    src={image}
    alt="Your Name"
    class="w-[150px] h-[150px] print:w-28 print:h-28 rounded-full mx-auto print:mx-0 print:m-0 print:mr-4 object-contain mix-blend-darken"
  />
  <div class="flex flex-col gap-2 print:items-start">
    <div
      class="flex flex-col print:flex-row print:items-center print:gap-2 mt-2 print:mt-0"
    >
      <h1 class="text-4xl print:text-base font-bold text-gray-900">{name}</h1>
      <p class="hidden print:block print:text-sm text-gray-600">|</p>
      <p class="text-xl print:text-sm text-gray-600">{headline}</p>
    </div>
    <div class="flex justify-center print:justify-start gap-3 print:flex-row">
      {
        profiles.map(({ network, username, url }) => (
          <Icon type={network.toLowerCase()} href={url} text={username} />
        ))
      }
    </div>
  </div>
</header>
