---
import { Project } from "../types/Project";
import Icon from "../components/ui/icon.astro";

interface Props {
    title: string;
    projects: Project[];
}

const { title, projects } = Astro.props;

const currentPath = Astro.url.pathname;
---

<section>
    <a name="projects"/>
    <h2 class="text-2xl font-bold text-gray-900 mb-4">{title}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
            projects.map(({ name, description, url, technologies }) => (
                <div class="bg-white p-4 rounded-lg shadow">
                    <h3 class="text-lg font-semibold">{name}</h3>
                    <p class="text-gray-700 mt-2">{description}</p>

                    <div class="mt-8 flex flex-wrap gap-2">
                        {
                            technologies.map((technology, index) => (
                                <span class="bg-gray-200 text-gray-700 px-2 py-1 rounded-full text-xs">{technology}</span>
                            ))
                        }
                    </div>
                </div>
            ))
        }
    </div>

    <div class="mt-6 text-center">
        <Icon id="try-link" class_="justify-center flex-row-reverse !text-blue-500 hover:text-blue-500 hover:underline" href={projects[0].url} text="Deploy projects" type="externalLink"></Icon>
    </div>
</section>

<script client:load>
    const currentPath = window.location.pathname;

    const spanResult = document.evaluate("//span[contains(text(),'Deploy projects')]", document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null);
    const span = spanResult.singleNodeValue;

    if (span) {
        if (currentPath == "/") {
            span.textContent = "Desplegar proyectos";
        }

        if (currentPath == "/es") {
            span.textContent = "Desplegar proyectos";
        }
    }
</script>
